<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <script src="../build/flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../dist/css/appview.css"/>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="">
{% block content %}{% endblock %}
</body>
</html>