html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.view-titlebar {
    background-image: -webkit-linear-gradient(to bottom, #29282e, #47474a);
    background-image: linear-gradient(to bottom, #29282e, #47474a);
    color: #FFFFFF;
}