.view-list {
  width: 10rem;
  margin: 0 auto;
}
.view {
  display: block;
}
/* 列布局 */
.view-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.view-flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.view-flex-nowrap {
  flex-wrap: nowrap;
}
.view-flex-wrap {
  flex-wrap: wrap;
}
.view-flex-start {
  justify-content: flex-start;
}
.view-flex-end {
  justify-content: flex-end;
}
.view-flex-center {
  justify-content: center;
}
.view-flex-space-between {
  justify-content: space-between;
}
.view-flex-space-around {
  justify-content: space-around;
}
.view-flex-item-flex1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  display: block;
}
/* TabBar */
.view-tabbar {
  /* 基础 */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  justify-content: space-between;
  align-content: center;
  background-color: #FFF;
  position: relative;
  /* 定制 */
  z-index: 9999999;
}
.view-tabbar:before {
  position: absolute;
  right: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: #a7a7ab;
  top: -1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.view-tabbar a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  display: block;
  font-size: 10px;
  color: #7a7e83;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f8f8f8;
}
.view-tabbar a {
  color: #5D656B;
  cursor: pointer;
}
.view-tabbar a:hover,
.view-tabbar a:active,
.view-tabbar a:visited {
  text-decoration: none;
}
.view-tabbar a p {
  font-size: 10px;
  margin: 0;
}
[data-dpr="2"] .view-tabbar a p {
  font-size: 20px;
}
[data-dpr="3"] .view-tabbar a p {
  font-size: 30px;
}
/* TitleBar */
.view-bar-nav {
  /* 基础 */
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: nowrap;
  zoom: 1;
  overflow: hidden;
  background-color: #FFF;
  font-size: 16px;
  height: 44px;
  /* 定制 */
  z-index: 9999999;
}
[data-dpr="2"] .view-bar-nav {
  font-size: 32px;
  height: 88px;
}
[data-dpr="3"] .view-bar-nav {
  font-size: 48px;
  height: 132px;
}
.view-bar-nav:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: #b2b2b2;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.view-bar-nav > * {
  box-sizing: border-box;
  display: block;
}
.view-bar-nav a {
  color: inherit;
  vertical-align: middle;
}
.view-bar-nav a:hover {
  text-decoration: none;
}
.view-bar-nav .view-title {
  -webkit-align-self: center;
  text-align: center;
  align-self: center;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.view-bar-nav > a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  align-self: center;
  padding-right: .32rem;
}
.view-bar-nav > a:last-child {
  text-align: right;
}
.view-bar-nav i.fa {
  font-size: 24px;
}
[data-dpr="2"] .view-bar-nav i.fa {
  font-size: 48px;
}
[data-dpr="3"] .view-bar-nav i.fa {
  font-size: 72px;
}
.view-bar-nav .view-icon {
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  line-height: 1.42;
  padding: 10px;
}
[data-dpr="2"] .view-bar-nav .view-icon {
  padding: 20px;
}
[data-dpr="3"] .view-bar-nav .view-icon {
  padding: 30px;
}
/* 列表布局 */
.view-table {
  display: block;
  background-color: #ffffff;
  position: relative;
  font-size: 16px;
}
[data-dpr="2"] .view-table {
  font-size: 32px;
}
[data-dpr="3"] .view-table {
  font-size: 48px;
}
.view-table:before {
  position: absolute;
  right: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: #DEDFE0;
  top: -1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.view-table:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: #DEDFE0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.view-table-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  position: relative;
  -webkit-align-items: center;
  padding: 0 15px;
}
[data-dpr="2"] .view-table-cell {
  padding: 0 30px;
}
[data-dpr="3"] .view-table-cell {
  padding: 0 45px;
}
.view-table-cell:after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  content: '';
  background-color: #DEDFE0;
  left: 15px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
[data-dpr="2"] .view-table-cell:after {
  left: 30px;
}
[data-dpr="3"] .view-table-cell:after {
  left: 45px;
}
.view-table-cell:last-child:after,
.view-table-cell:last-child:before {
  height: 0;
}
a.view-table-cell {
  color: inherit;
}
a.view-table-cell:hover {
  text-decoration: none;
}
.view-table-cell.active {
  background: #eee;
}
.view-table-cell > span {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  align-self: center;
  padding: 12px 15px;
}
[data-dpr="2"] .view-table-cell > span {
  padding: 24px 30px;
}
[data-dpr="3"] .view-table-cell > span {
  padding: 36px 45px;
}
.view-table-cell > span:first-child {
  padding-left: 0;
}
.view-table-cell > i {
  -webkit-align-self: center;
  align-self: center;
  align-items: center;
}
.view-table-cell > img {
  -webkit-align-self: center;
  align-self: center;
  margin-left: .46rem;
  align-items: center;
}
.view-table-cell > i.fa {
  color: #c7c7cc;
  font-size: 24px;
}
[data-dpr="2"] .view-table-cell > i.fa {
  font-size: 48px;
}
[data-dpr="3"] .view-table-cell > i.fa {
  font-size: 72px;
}
.view-table-cell > small {
  -webkit-align-self: center;
  align-self: center;
  margin-right: .32rem;
}
/*针对大屏幕进行兼容*/
@media screen and (min-width: 541px) {
  [data-dpr="1"] .view-table {
    border-radius: .16rem;
    border-left: solid 1px #DEDFE0;
    border-right: solid 1px #DEDFE0;
  }
  [data-dpr="1"] .view-table-cell:first-child > div {
    border-top: none;
  }
  [data-dpr="1"] .view-table-cell:last-child > div {
    border-bottom: none;
  }
}
.fullscreen {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.scrollview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.scroll-wrap {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  position: relative;
  width: 100%;
}
.scroll-content {
  /*position: absolute;*/
  width: 100%;
}
