{% extends "layout/layout.twig" %}
{% set view='view'%}
{% block title %}View{% endblock %}
{% block content %}
<header class="" id="content" role="main" tabindex="-1">
    <div class="container p-l">
        <h1 class="">视图</h1>
        <p class="text-xl">定义了一部分最常用的组件，通过简单的结构即可调用。</p>
    </div>
</header>

<div class="container text-m  p-l">
    <div class="row">
        <div class="col-md-9">
            <div class="bs-docs-section">
                <h1 class="page-header">视图</h1>
                <h2>基本视图</h2>
                <p>我们定义一种组成APP界面的最基本的元素：<code>View</code>，所有的APP界面都由各种<code>View</code>组成。<br/>所以我们在网页的最外层包裹一个<code>.view-list</code>作为最基础的视图</p>
                <div class="highlight">
        <pre><code class="html">&lt;div class="view-list"&gt;
    &lt;div class="view"&gt;...&lt;/div&gt;
    &lt;div class="view"&gt;...&lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
                <h2>线性布局</h2>
                <p>该布局由上到下按顺序堆叠</p>
                <div class="highlight">
        <pre><code class="html">&lt;div class="view-list"&gt;
    &lt;div class="view"&gt;...&lt;/div&gt;
    &lt;div class="view"&gt;...&lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
                <p>CSS：</p>
                <div class="highlight">
                    <pre><code class="css">.view { display: block; }</code></pre>
                </div>
                <h2>列布局</h2>
                <p>列布局可以将<code>View</code>进行竖向分隔，该布局使用了<code>flex布局</code></p>
                <p>四个元素</p>

                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                        <div class="view-flex-item">4</div>
                    </div>
                </div>
                <div class="highlight">
        <pre><code class="html">&lt;div class=&quot;view view-flex&quot;&gt;
    &lt;div class=&quot;view-flex-item&quot;&gt;1&lt;/div&gt;
    &lt;div class=&quot;view-flex-item&quot;&gt;2&lt;/div&gt;
    &lt;div class=&quot;view-flex-item&quot;&gt;3&lt;/div&gt;
    &lt;div class=&quot;view-flex-item&quot;&gt;4&lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
                <p>10个元素</p>
                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                        <div class="view-flex-item">4</div>
                        <div class="view-flex-item">5</div>
                        <div class="view-flex-item">6</div>
                        <div class="view-flex-item">7</div>
                        <div class="view-flex-item">8</div>
                        <div class="view-flex-item">9</div>
                        <div class="view-flex-item">10</div>
                    </div>
                </div>
                <p>20个元素</p>
                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                        <div class="view-flex-item">4</div>
                        <div class="view-flex-item">5</div>
                        <div class="view-flex-item">6</div>
                        <div class="view-flex-item">7</div>
                        <div class="view-flex-item">8</div>
                        <div class="view-flex-item">9</div>
                        <div class="view-flex-item">10</div>
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                        <div class="view-flex-item">4</div>
                        <div class="view-flex-item">5</div>
                        <div class="view-flex-item">6</div>
                        <div class="view-flex-item">7</div>
                        <div class="view-flex-item">8</div>
                        <div class="view-flex-item">9</div>
                        <div class="view-flex-item">10</div>
                    </div>
                </div>
                <h3>换行</h3>
                <p>如果需要设置列布局自动换行，只需要增加样式<code>view-flex-wrap</code></p>
                <p>20个元素</p>
                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex view-flex-wrap">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                        <div class="view-flex-item">4</div>
                        <div class="view-flex-item">5</div>
                        <div class="view-flex-item">6</div>
                        <div class="view-flex-item">7</div>
                        <div class="view-flex-item">8</div>
                        <div class="view-flex-item">9</div>
                        <div class="view-flex-item">10</div>
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                        <div class="view-flex-item">4</div>
                        <div class="view-flex-item">5</div>
                        <div class="view-flex-item">6</div>
                        <div class="view-flex-item">7</div>
                        <div class="view-flex-item">8</div>
                        <div class="view-flex-item">9</div>
                        <div class="view-flex-item">10</div>
                    </div>
                </div>
                <div class="highlight">
        <pre><code class="html">&lt;div class=&quot;view view-flex view-flex-wrap&quot;&gt;
    &lt;div class=&quot;view-flex-item&quot;&gt;1&lt;/div&gt;
    &lt;div class=&quot;view-flex-item&quot;&gt;2&lt;/div&gt;
    &lt;div class=&quot;view-flex-item&quot;&gt;3&lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
                <h3>对齐方式</h3>
                <p>提供种5对齐方式，<code>view-flex-start</code>，<code>view-flex-end</code>，<code>view-flex-center</code>，<code>view-flex-space-between</code>，<code>view-flex-space-around</code></p>
                <h4>view-flex-start</h4>
                <p>（默认值）：左对齐</p>
                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex view-flex-start">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                    </div>
                </div>
                <h4>view-flex-end</h4>
                <p>右对齐</p>
                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex view-flex-end">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                    </div>
                </div>
                <h4>view-flex-center</h4>
                <p>居中</p>
                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex view-flex-center">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                    </div>
                </div>
                <h4>view-flex-space-between</h4>
                <p>两端对齐，项目之间的间隔都相等。</p>
                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex view-flex-space-between">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                    </div>
                </div>
                <h4>view-flex-space-around</h4>
                <p>每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。</p>
                <div class="bs-example" data-example-id="simple-s">
                    <div class="view view-flex view-flex-space-around">
                        <div class="view-flex-item">1</div>
                        <div class="view-flex-item">2</div>
                        <div class="view-flex-item">3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">
                    <li><a href="#grid">栅格系统</a></li>
                    <li>
                        <a href="#paiban">排版</a>
                        <ul class="nav">
                            <li><a href="#type-inline-text">内联文本元素</a></li>
                            <li><a href="#type-alignment">对齐</a></li>
                            <li><a href="#type-transformation">改变大小写</a></li>
                            <li><a href="#type-abbreviations">缩略语</a></li>
                            <li><a href="#type-lists">列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#images">图片</a>
                        <ul class="nav">
                            <li><a href="#images-responsive">响应式图片</a></li>
                            <li><a href="#images-shapes">图片形状</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#helper-classes">辅助类</a>
                        <ul class="nav">
                            <li><a href="#helper-classes-colors">情境文本颜色</a></li>
                            <li><a href="#helper-classes-backgrounds">情境背景色</a></li>
                            <li><a href="#helper-classes-center">让内容块居中</a></li>
                            <li><a href="#helper-classes-clearfix">清除浮动</a></li>
                            <li><a href="#helper-classes-show-hide">显示或隐藏内容</a></li>
                        </ul>
                    </li>
                    <li><a href="#buttons">按钮</a></li>
                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>

            </nav>
        </div>
    </div>
</div>

{% endblock %}
