{% extends "layout/layout.twig" %}
{% block title %}Font{% endblock %}
{% block content %}
<p class="text-xxs">10px字体，在有些浏览器有最小字体限制，可能无法正常显示.</p>
<p class="text-xs">12px字体，适用于描述性文字.</p>
<p class="text-s">14px字体，稍小.</p>
<p class="text-m">16px字体，默认字体大小.</p>
<p class="text-l">18px字体，稍大.</p>
<p class="text-xl">20px字体，适用于标题.</p>
<p class="text-xxl">24px字体，适用于标题.</p>
{% endblock %}