{% extends "layout/layout.twig" %}
{% block title %}Heading{% endblock %}
{% block content %}
<h1>h1. AppView heading</h1>
<h2>h2. AppView heading</h2>
<h3>h3. AppView heading</h3>
<h4>h4. AppView heading</h4>
<h5>h5. AppView heading</h5>
<h6>h6. AppView heading</h6>
<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>h1. AppView heading<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>h2. AppView heading<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>h3. AppView heading<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>h4. AppView heading<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>h5. AppView heading<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h6</span>&gt;</span>h6. AppView heading<span class="hljs-tag">&lt;/<span class="hljs-name">h6</span>&gt;</span></code></pre>
<img src="images/heading.png" class="img-responsive">
{% endblock %}