{% extends "layout/layout.twig" %}
{% block title %}Font{% endblock %}
{% block content %}

<div class="view-list">
    <header class="view view-bar view-bar-nav">
        <a class=""></a>
        <div class="view-title">AppView</div>
        <a class=""></a>
    </header>
    <div class="view-body">
        <div class="view-table">
            <a class="view-table-cell" href="font.html">
                <span>字体大小</span>
                <i class="fa fa-angle-right "></i>
            </a>
            <a class="view-table-cell" href="nav.html">
                <span>导航栏</span>
                <i class="fa fa-angle-right "></i>
            </a>

            <a class="view-table-cell" href="tabbar.html">
                <span>选项卡</span>
                <i class="fa fa-angle-right "></i>
            </a>
            <a class="view-table-cell" href="tabbar.html">
                <span>选项卡（仅图标）</span>
                <i class="fa fa-angle-right "></i>
            </a>

            <a class="view-table-cell" href="app/message.html" target="_blank">
                <span>仿微信</span>
                <i class="fa fa-angle-right "></i>
            </a>
            <a class="view-table-cell" href="#">
                <span>仿淘宝（未完成）</span>
                <i class="fa fa-angle-right "></i>
            </a>
            <a class="view-table-cell" href="#">
                <span>确认订单（未完成）</span>
                <i class="fa fa-angle-right "></i>
            </a>
            <a class="view-table-cell" href="#">
                <span>微门户（未完成）</span>
                <i class="fa fa-angle-right "></i>
            </a>   <a class="view-table-cell" href="#">
            <span>微门户（未完成）</span>
            <i class="fa fa-angle-right "></i>
        </a>   <a class="view-table-cell" href="#">
            <span>微门户（未完成）</span>
            <i class="fa fa-angle-right "></i>
        </a>   <a class="view-table-cell" href="#">
            <span>微门户（未完成）</span>
            <i class="fa fa-angle-right "></i>
        </a>   <a class="view-table-cell" href="#">
            <span>微门户（未完成）</span>
            <i class="fa fa-angle-right "></i>
        </a>   <a class="view-table-cell" href="#">
            <span>微门户（未完成）</span>
            <i class="fa fa-angle-right "></i>
        </a>   <a class="view-table-cell" href="#">
            <span>微门户（未完成）</span>
            <i class="fa fa-angle-right "></i>
        </a>   <a class="view-table-cell" href="#">
            <span>微门户（未完成）</span>
            <i class="fa fa-angle-right "></i>
        </a>
        </div>
    </div>
</div>
{% endblock %}