{% extends "layout/layout.twig" %}
{% block title %}Font{% endblock %}
{% block content %}

<header class="view view-bar view-bar-nav">
    <a class="view-titlebar-lefticon" href="index.html"><i class="fa fa-angle-left text-l"></i> 首页</a>
    <div class="view-title">导航栏</div>
    <a class=""></a>
</header>
<div class="view">
    <br /><br />
    <p>tabbar 可以方便的创建一个自适应TabBar</p>
    <br />

    <div class="highlight">
            <pre><code class="html">&lt;div class=&quot;view view-tabbar&quot;&gt;
    &lt;a href=&quot;#&quot;&gt;
        &lt;i class=&quot;fa fa-home&quot;&gt;&lt;/i&gt;
        &lt;p&gt;首页&lt;/p&gt;
    &lt;/a&gt;
    &lt;a href=&quot;#&quot;&gt;
        &lt;i class=&quot;fa fa-comment&quot;&gt;&lt;/i&gt;
        &lt;p&gt;消息&lt;/p&gt;
    &lt;/a&gt;
    &lt;a href=&quot;#&quot;&gt;
        &lt;i class=&quot;fa fa-user&quot;&gt;&lt;/i&gt;
        &lt;p&gt;我&lt;/p&gt;
    &lt;/a&gt;
    &lt;a href=&quot;#&quot;&gt;
        &lt;i class=&quot;fa fa-ellipsis-h&quot;&gt;&lt;/i&gt;
        &lt;p&gt;更多&lt;/p&gt;
    &lt;/a&gt;
&lt;/div&gt;</code></pre>
    </div>
</div>
<div class="view view-tabbar">
    <a href="#">
        <i class="fa fa-home"></i>
        <p>首页</p>
    </a>
    <a href="#">
        <i class="fa fa-comment"></i>
        <p>消息</p>
    </a>
    <a href="#">
        <i class="fa fa-user"></i>
        <p>我</p>
    </a>
    <a href="#">
        <i class="fa fa-ellipsis-h"></i>
        <p>更多</p>
    </a>
</div>
{% endblock %}