.card-list { }
.card { display: block; }
.card-space { margin-top: .24rem; }
.card-list-item { border-top: solid 1px #DEDFE0; 
                  border-bottom: solid 1px #DEDFE0; 
                  position: relative; 
                  display: -webkit-box; 
                  display: -webkit-flex; 
                  display: -ms-flexbox; 
                  display: flex; 
                  -webkit-justify-content: space-between; 
                  justify-content: space-between;
    margin-top: -1px; }
.card-list-item .card-title {
                              line-height: 1.4; 
                              /*
                              display: -webkit-box; 
                               display: -webkit-flex; 
                               display: -ms-flexbox; 
                               display: flex;
*/
                              -webkit-box-flex: 1; 
                              -webkit-flex: 1; 
                              -ms-flex: 1; 
                              flex: 1; 
                              
                                }
.card-list-item .card-detail { display: -webkit-box; 
                               display: -webkit-flex; 
                               display: -ms-flexbox; 
                               display: flex; 
                               -webkit-box-align: center; 
                               -ms-flex-align: center; 
                               -webkit-align-items: center; 
                               align-items: center; 
                               -webkit-box-pack: end; 
                               -ms-flex-pack: end; 
                               -webkit-justify-content: flex-end; 
                               justify-content: flex-end; }
.card-list-item .card-icon {/*display: -webkit-box; 
                               display: -webkit-flex; 
                               display: -ms-flexbox; 
                               display: flex; */
                               -webkit-box-align: center; 
                               -ms-flex-align: center; 
                               -webkit-align-items: center; 
                               align-items: center; 
                               -webkit-box-pack: end; 
                               -ms-flex-pack: end; 
                               -webkit-justify-content: flex-end; 
                               justify-content: flex-end; 
                                }
.card-list-item .card-icon-right { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; margin-right: .4375rem; }
.card-table {display: block; border-top: solid 1px #DEDFE0; border-bottom: solid 1px #DEDFE0; background-color: #ffffff; }
.card-table > .card-list-item:first-child { border-top: none; margin-top:0; }
.card-table .card-list-item {  }
.card-jiesuan { position: fixed; bottom: 0; width: 100%; }
.card-text { display: block; padding: .4375rem; line-height: 1.5; }
.card2{ border-top: none;margin: .25rem; border:solid 1px #DEDFE0;position: relative;overflow: hidden;  border-radius: .1875rem;}
.card2 .card-title{ position: absolute; padding:.4375rem;color: #FFF;}
.card3 { border-top: none;position: relative;}
.card3 .card-title{ position: absolute; padding:.4375rem;color: #FFF;}
.switchery-large { border-radius: .8rem; height: .8rem; width: 1.36rem; }
.switchery-large > small { height: .8rem; width: .8rem; }
